
// fonts
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtra';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemi';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.reg(){
  font-family: 'OpenSans', sans-serif;
}
.bold(){
  font-family: 'OpenSansBold', sans-serif;
}
.extra(){
  font-family: 'OpenSansExtra', sans-serif;
}
.italic(){
  font-family: 'OpenSansItalic', sans-serif;
}
.semi(){
  font-family: 'OpenSansSemi', sans-serif;
}



// colors

@bgHeader: #f6f2f2;
@mainColor: #313030;
@assisting: #ff3f40;
@bgFoto: #f5f0dd;
@colorText: #4c4c4c;
@colorHead: #333;


// basic-setting

html {
  font-size: 10px;
}
.button {
  font-size: 1.5rem;
  background-color: @assisting;
  width: 100%;
  border-color: @assisting;
  padding: 0.8rem;
  .bold();
}
section {
  padding-top: 10rem;
}
h1, h2, h3, h4, h5, h6 {
  .bold();
  color: @colorHead;
  margin: 0;
  text-transform: uppercase;
}
h2 {
  font-size: 3.7rem;
}
p {
  .reg();
  color: @colorText;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.hr {
  width: 13.2rem;
  background-color: @assisting;
  height: 1px;
  margin-top: 3rem;
  margin-bottom: 7rem;
}
video, img:not(.provide-block img, .footer img) {
  background-color: @bgFoto;
  width: 100%;
}
.nav-list {
  padding: 0;
  li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    transition: 0.3s;
    margin-left: -4px;
    cursor: pointer;
    color: #000;
  }
}


// styles

.header {
  background-color: @bgHeader;
  &-nav {
    background-color: @mainColor;
    ul {
      text-align: center;
      margin-top: 3rem;
      li {
        color: #fff;
        font-size: 1.4rem;
        text-transform: uppercase;
        .bold();
        line-height: 7rem;
        padding: 0 2rem;
        &:hover {
          background-color: @assisting;
        }
      }
    }
  }
  &-main {
    padding: 10rem 0;
    h1 {
      .extra();
      font-size: 5.3rem;
      letter-spacing: 0.2rem;
    }
    p {
      margin-top: 1rem;
      padding: 0;
    }
    a {
      margin-top: 6.5rem;
    }
    video {
      width: 100%;
      // height: auto;
      height: 70%;
      box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

.provide {
  &-block {
    vertical-align: top;
  }
  h2 {
    margin-bottom: 5rem;
  }
  a {
    color: @assisting;
    background-color: #fff;
  }
  h3 {
    .semi();
    margin: 3rem 0 1.5rem;
    font-size: 2.1rem;
  }
  p {
    margin-bottom: 5rem;
  }
  hr {
    background-color: #ccc;
    opacity: 0.5;
    margin-top: 5rem;
  }
}

.products {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    margin-top: 3rem;
  }
  ul {
    text-align: center;
    margin-bottom: 3rem;
    li {
      font-size: 22px;
      text-transform: uppercase;
      .semi();
      margin: 0 2rem;
      position: relative;
      &:after {
        background-color: #000;
        position: absolute;
        display: block;
        content: "";
        height: 1px;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s ease-in-out;
      }
      &:hover:after {
        width: 100%;
      }
    }
    .select {
      color: @assisting;
      &:after {
        background-color: @assisting;
      }
    }
  }
  img {
    width: 100%;
    margin-top: 3rem;
  }
}

.teem {
  p:not(.teem .name) {
    margin-top: 3rem;
  }
  img {
    height: 100%;
  }
  &-block {
    &-img {
      height: 100%;
      position: relative;
      overflow: hidden;
      &:hover .name {
        bottom: 0;
      }
    }
    h3 {
      .semi();
      font-size: 3rem;
    }
    ul {
      margin: 4rem 0;
      margin-left: 4px;
      li {
        .italic();
        font-size: 1.7rem;
        opacity: 0.8;
        line-height: 1;
        margin-right: 4rem;
        &:after {
          width: 0;
          height: 1px;
          display: block;
          content: "";
          background-color: #000;
          transition: width 0.3s ease-in-out;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
  .name {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 3rem;
    font-size: 1.4rem;
    left: 0;
    right: 0;
    bottom: -3rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
  }
}

.distribution {
  &-block {
    padding: 12rem;
    background: url(../img/distribution) no-repeat center;
    background-color: @bgFoto;
    background-size: 100%;
    h2, p {
      color: #fff;
      text-align: center;
    }
    p {
      margin-top: 3rem;
    }
    form {
      margin-top: 6rem;
    }
    input {
      width: 100%;
      font-size: 1.6rem;
      padding: 2rem;
      border: none;
      border-radius: 3px;
    }
    button {
      text-transform: uppercase;
      padding: 2rem;
    }
  }
}