body {
  margin: 20px;
}
input, p, button {
  display: inline-block;
  font-size: 130%;
  font-family: sans-serif;
}
input {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #000;
}

button {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000;
  margin-top: 30px;
  transition: 0.3s;
}
button:hover{
  transition: 0.3s;
  color: #fff;
  background-color: #000;
}
#resh {
  font-size: 120%;
  font-family: sans-serif;
  margin-top: 40px;
}
#resh p {
  display: block;
}